<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Settings</title>
  <link rel="stylesheet" href="../styles/popup.css" />
</head>
<body>
  <header>
    <h1>Custom Chrome Tab</h1>
  </header>
  <hr>
  <main>
    <input id="new-title" type="entry" placeholder="Enter a tab name" />
    <input id="update" type="button" value="Update Name" class="button" />

    <label class="picker-label">
      <p class="button">Pick Icon</p>
      <input type="file" class="picker-icon" />
    </label>

    <div id="image-mode">
      <label class="picker-label">
        <p class="button">Pick Background</p>
        <input type="file" class="picker-background" />
      </label>
    </div>

    <div id="circle-mode" class="hidden">
      <p>Circle Color</p>
      <input type="color" id="circle-color" value="#496bbe" class="picker-color">
      <p>Background Color</p>
      <input type="color" id="background-color-circle" value="#444444" class="picker-color">
    </div>

    <div id="block-mode" class="hidden">
      <p>Block Color</p>
      <input type="color" id="block-color" value="#496bbe" class="picker-color">
      <section id="normal">
        <p>Background Color</p>
        <input type="color" id="background-color-block" value="#6992c9" class="picker-color">
      </section>
      <div class='CheckBox'>
        <input type='checkbox' id="gradient-switch"/>
        <label>Gradient</label>
      </div>
      <section id="gradient" class="hidden">
        <p>Background Color 1</p>
        <input type="color" id="gradient1" value="#f9f9f9" class="picker-color">
        <p>Background Color 2</p>
        <input type="color" id="gradient2" value="#6992c9" class="picker-color">
      </section>
    </div>

    <input id="mode-switch" type="range" min="0" max="2">
    <p id="mode-label">Image Mode</p>
  </main>
  <hr>
  <footer>
    <a href="https://cqb13.dev/" target="_blank">cqb13.dev</a>
    <a class="footerLink" href="https://github.com/cqb13" target="_blank" alt="Vist my github"><svg class="footerIcon"
        alt="GitHub" viewBox="0 0 16 16">
        <path
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
        </path>
    </svg></a>
  </footer>
  <script src="../js/popup.js"></script>
  <script src="../js/circle.js"></script>
</body>
</html>