body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.options-container {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}
.options-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: rgb(255, 255, 255, 0.05);
  border-radius: 16px;
}

.picker-label {
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  font-size: 110%;
  opacity: 0.1;
  transition: opacity 0.2s;
}

.picker-label:hover {
  opacity: 1;
}

.picker-background {
  display: none;
}

.picker-icon {
  display: none;
}
